VITE_SUPABASE_URL=https://aaoeksuxhyhewvtmdldm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFhb2Vrc3V4aHloZXd2dG1kbGRtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA2OTUxODIsImV4cCI6MjA4NjI3MTE4Mn0.JrDIFhdjkKPKrNI1o8qYXzmBczSZY4ZiH-c6UEL2Mv8
VITE_N8N_WEBHOOK_URL=your_n8n_webhook_url
